<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<style type="text/css">
		body {
			font-family: "gill Sans", Helvetica, Arial;
		}
	</style>
</head>
<body>
	<%- body %>
</body>
</html>